#about {
    padding-left: 3%;
    padding-right: 3%;
}

#about-content {
    display: flex;
    align-items: center;
    justify-content: center;    
    padding: 0vh 5vh 0vh 5vh;;
}

.about-content-item {
    padding: 3vh;
    width:auto;
}

.elina-illustration {
    height: 80vh;
    width: auto;
}

#taglines {
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
    margin-top: 9vh;
}

.tag {
    height: auto;
    margin-right: 1.5vh;
    padding: 1vh;
    display: flex; 
    align-items: center; 
}

.tag p {
    color: white;
    font-weight: bold;
    margin: auto;
    text-align: center;
    font-size: 3vh;
    line-height: 2.6vh;
}

#tag-1 {
    background-color: #FC6F6B;
}

#tag-2 {
    background-color: #FFB2B2;
}

#tag-3 {
    background-color: #FFC456;
}

#tag-4 {
    background-color: #5C9161;
}


@media screen and (max-width: 992px) {


}
  


@media screen and (max-width: 600px) {

    .about-content-item h1 {
        padding: 3vh;
    }
    
    #about {
        padding: 1%;
        text-align: center;
    }
    
    .elina-illustration {
        visibility: hidden;
        height: 0vh;
    }

    #about-content {
        display: flex;
        flex-direction: column; 
        align-items: center;
        justify-content: center;    
        padding: 0vh 5vh 0vh 5vh;
    }

    #taglines {
        margin-top: 4vh;
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: auto;
        height: auto;
    }
    
    .tag {
        height: auto;
        width: auto;
        margin: 1vh;
        
    }
    
    .tag p {
        font-size: 3vh;
        margin: auto;
        padding-bottom: 0;
    }

}