#contact {
    padding-left: 5%;
    padding-right: 5%;
}

#contact-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;    
    padding: 0vh 5vh 0vh 5vh;
}

#contact-content img {
    margin-left: auto;
    margin-right: 0;
}

.contact-info img {
    width: 8vh;
    height: 8vh;
    margin: 0;
    padding: 0;
}

#footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding: 1vh;
    background-color: #24A255;
    color: white;
    font-weight: 500;
    font-size: 2vh;
}

#footer a {
    text-decoration:underline;
    color: white;
}