#contact {
    padding: 5%;
}

#contact-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;    
    padding: 0vh 5vh 5vh 5vh;
}

.contact-illustration {
    margin-left: auto;
    margin-right: 0;
    height: auto;
    width: 20vh;
    padding-left: 5vh;
}

.web-logo{
    width: 7vh;
    height: auto;
    padding: 1.5vh 0vh 1.5vh 0vh;
}

.web-logo:hover {
    opacity: 0.5;
    transition: .5s ease;
}

#footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding: 1vh;
    background-color: #24A255;
    color: white;
    font-weight: 500;
    font-size: 2vh;
}

#footer a {
    text-decoration:underline;
    color: white;
}



@media screen and (max-width: 992px) {


}



@media screen and (max-width: 600px) {
    #contact {
        padding-left: 1%;
        padding-right: 1%;
    }

    #contact-content {
        display: flex;
        flex-direction: column-reverse;
        align-items: flex-start;
        justify-content: center;    
        margin: auto;
        padding: 0vh 5vh 5vh 5vh;
    }


    .contact-illustration {
        margin: auto;
        height: auto;
        width: 80%;
    }

    .web-logo {
        width: 8vh;
        height: 8vh;
        padding: 0 0 1.5vh 0;
    }


    .contact-info {
        padding: 0;
        text-align: center;
    }

    .project-item p {
        padding-bottom: 5vh
    }

}