#project-page {
    padding: 3vh 15vh 10vh 15vh;
}

.project-container {
    display: flex;
    align-items: flex-start;
    justify-content: center;    
    width: 100%;
}


.project-container p {
    line-height: 4vh;
}

.back-button {
    color: #FC6E6A;
    font-size: 2.75vh;
    font-weight: bold;
    text-decoration: none;
    margin-top: 2%;
    font-style: italic;
    letter-spacing: 0.4vh;
}

.back-button img {
    height: 2vh;
    width: auto;
    padding-right: 2vh;
}

#project-page h1 {
    padding-top: 5vh;
    padding-bottom: 5vh;
}

.first-half {
    padding-right: 7vh;
}

.first-half p {
    width: 100%;
    height: auto;
    padding-bottom: 2vh;
}

.project-pic {
    padding-left: 7vh;
    width: 40%;
    height: auto;
}

.project-container iframe {
    height: 40vh;
    width: 100%;
    margin-left: 7vh;
    border-width: 0.2vh;
    border-radius: 1vh;
    border-color: #FC6E6A;
}


#project-tags {
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
    margin-bottom: 3vh;
}

.project-tag {
    height: auto;
    margin-right: 1.5vh;
    padding: 1vh;
    display: flex; 
    align-items: center; 
    border-radius: 1vh;
}

.project-tag p {
    color: white;
    font-weight: bold;
    margin: auto;
    text-align: center;
    font-size: 1.75vh;
    line-height: 2.6vh;
    padding: 0.2vh;
}


.link-to-page {
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
    flex-direction: row;
    justify-content: center;
    background-color: #FC6E6A;
    border-radius: 3vh;
    padding: 1.5vh;
    width: fit-content;
}

.inside-link {
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
    flex-direction: row;
    justify-content: center;
}

a, .link-to-page p {
    text-decoration: none;
    font-weight: bold;
    color: white;
    font-size: 2vh;
    margin: auto;
    padding: 0vh 1vh 0vh 1vh;
}

.link-to-page img {
    width: 2vh;
    height: 2vh;
    margin: auto;
    padding: 0vh;
}

.link-to-page:hover {
    background: linear-gradient(-45deg, #ffc5c5, hsl(2, 100%, 74%), #FFC456);
	background-size: 400% 400%;
	animation: gradient 5s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}




@media screen and (max-width: 992px) {

}
  


@media screen and (max-width: 600px) {
    .back-button {
        font-size: 4vh;
    }

    .back-button img {
        height: 3.5vh;
        margin: auto;
    }

    #project-page {
        padding: 5%;
        text-align: center;
    }

    .project-container {
        display: flex;
        flex-direction: column-reverse;
        align-items: flex-start;
        justify-content: center;    
        margin: auto;
    }

    .link-to-page {
        margin: 0 auto; 
        text-align: center
    }
    
    .first-half {
        padding: 0;
        margin: auto;
    }

    #project-tags {
        justify-content: center;
    }

    .project-pic {
        padding-left: 0;
        padding-bottom: 5vh;
        margin: auto;
        width: 40%;
        height: auto;
    }
    
    .project-container iframe {
        height: auto;
        width: 100%;
        margin: auto;
        margin-bottom: 5vh;
    }

    .link-to-page img {
        width: 2vh;
        height: 2vh;
        margin: auto;
        padding: 0vh;
    }

}