#projects {
    padding-left: 5%;
    padding-right: 5%;
}

#project-intro {
    display: flex;
    align-items: flex-start;
    justify-content: center;    
    padding: 0vh 5vh 0vh 5vh;
    text-align: right;
}

.project-description {
    text-align: right;
    width: 90vh;
    margin: auto;
}

.project-img {
    width: 60vh;
    margin: 0;
}

#project-container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 0;
    padding: 3vh;
    margin: 0px auto 0px auto;
    width: 80%;
}

.project-item {
    width: 100%;
    margin: auto;
    line-height: auto;
    text-align: center;
}

.project-item h2 {
    margin: 3vh 0px 3vh 0px;
}

.project-item p {
    width: 70%;
    margin: auto;
    margin-bottom: 3vh;
    line-height: 3vh;

}

.project-item-img{
    width: 50%;
    border-radius: 25px;
}

.project-item-img:hover{
    opacity: 0.6;
    transition: .5s ease;
}

.project-more {
    padding: 1vh;
    border-radius: 2vh;
    text-decoration: none;
    align-items: center;
    color:#F9635D;
    font-size:  2vh;
}

.project-more:hover {
    color: white;
    background-color: #F9635D;
    transition: .5s ease;
}



@media screen and (max-width: 992px) {
    #projects {
        padding: 0;
    }

    #project-intro {
        width: 90%;
    }

    .project-img {
        width: 40%;
        height: auto;
    }
}
  

@media screen and (max-width: 600px) {

    #projects {
        padding: 1%;
    }
    
    #project-intro {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        justify-content: center;    
        padding: 0vh;
        margin: auto;
    }


    .project-description {
        text-align: center;
        width: 90%;
        margin: auto;
    }

    .project-img {
        width: 60%;
        height: auto;
        margin: auto;
    }

    #project-container {
        display: grid;
        grid-template-columns: 1fr;
        padding: 0vh;
        margin: auto;
        width: 100%;
    }

    .project-item p {
        width: 60%;
        margin: auto;
        margin-top: 1.5vh;
        line-height: 4vh;
    }

    .project-item h2 {
        margin: 1vh 0vh 0vh 0vh;
    }

    .project-item-img {
        width: 20vh;
        height:auto;
    }

    .project-more{
        font-size: 3vh;
        color: white;
        background-color: #FFB2B2;
    }

    .project-more:hover {
        color: white;
        background-color: #F9635D;
    }

    .project-item {
        padding-bottom: 9vh;
    }


}

